#icon {
    height: 62px;
}

body {
    margin: 0;
    background-color: rgb(93, 150, 93);
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;

    background-color: rgb(26, 100, 48);
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#notícias {
    background-color: rgb(16, 75, 14);
    margin: 40px;
    display: flex;
    justify-content: space-between;
}

.notícia {
    background-color: rgb(7, 116, 56);
    border: 5px solid white;
    margin: 10px;
    text-align: center;
}

.img_noticia {
    height: 300px;
    border: 5px solid rgb(255, 255, 255);
}

h2 {
    background-color: white;
    border-style: solid;
    border-color: darkgreen;
    border-radius: 20px;
}

p {
    color: white;
}

footer {
    background-color: rgb(2, 58, 2);
    padding: 15px;
    text-align: center;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}